/* colors */
$main-accent: #060b35;
$secondary-color: #616070;
$white: #fff;
$blue-accent: #00acdc;
$gray-elements: #e5e5e5;
$yellow-stars-color: #ffde6a;

/* catalog grip */
$card-width: 200px;
$gapY: 48px;
$gapX: 50px;

$catalog-padding-X: 40px;
$cards-row-amount: 4;
